body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 91px 124px 157px;
    position: relative;
    max-width: 1193px;
    margin: 0 auto;
}

.box1,
.box2 {
    display: flex;
}

.box1 {
    margin-bottom: 103px;
}

h1 {
    font-family: 'Roboto slab', sans-serif;
    font-size: 55px;
    font-weight: 700;
    width: 501px;
    height: 93px;
    margin-top: 0;
    line-height: 55.76px;
}

.article {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    width: 662px;
    height: 200px;
    margin: 0;
}

.bigimg {
    width: 290px;
    height: 302px;
    background-size: cover;
    position: absolute;
    top: 210px;
    right: 67px;
    z-index: 1;
}

.miniimg {
    width: 343px;
    height: 59px;
    position: absolute;
    top: 484px;
    right: 40px;
    z-index: 0;
}

.img {
    display: block;
}

.biginit {
    width: 222px;
    height: 194px;
    margin-right: 142px;
    position: relative;
    z-index: 1;
}

.miniinit {
    width: 189px;
    height: 32px;
    position: absolute;
    bottom: 142px;
    left: 148px;
    z-index: 0;
}

.textbox1 {
    margin-right: 95px;
}

.textbox2 {
    margin-right: 93px;
}

.textbox {
    text-align: start;
    margin-right: 213px;
}

h2 {
    font-weight: 700;
    font-size: 25px;
    width: 150px;
    height: 39px;
    margin-bottom: 0;
}

p {
    font-weight: 400;
    font-size: 18px;
    width: 150px;
    height: 39px;
    margin-top: 0;
}

@media (max-width: 834px) {
    .container {
        width: 690px;
        padding: 56px 72px 180px;
    }

    h1 {
        font-weight: 700;
        line-height: 32.44px;
        font-size: 32px;
        width: 284px;
        height: 54px;
    }

    .box1 {
        margin-bottom: 70.1px;
    }

    .article {
        font-weight: 400;
        line-height: 21px;
        font-size: 14px;
        width: 383.41px;
        height: 105px;
    }

    h2 {
        font-size: 15px;
        width: 86.88px;
        height: 22.59px;
    }

    p {
        font-size: 11px;
        width: 86.88px;
        height: 22.59px;
    }

    .bigimg {
        width: 164px;
        height: 165px;
        top: 138px;
        right: 58px;
    }

    .miniimg {
        width: 193px;
        height: 34px;
        right: 40px;
        top: 287px;
    }

    .img {
        display: none;
    }

    .textbox1 {
        margin-right: 55.23px;
    }

    .textbox2 {
        margin-right: 33.9px;
    }

    .textbox {
        margin-right: 113.59px;
    }
}

@media(max-width: 375px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 220px;
        height: 670px;
        padding: 56px 0 124px
    }

    .box1 {
        display: flex;
        flex-direction: column;
        height: 500px;
        margin-bottom: 45.71px;
    }

    .box2 {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 26px;
        line-height: 26.36px;
        width: 215px;
        height: 54px;
    }

    .box1 {
        margin-bottom: 45.71px;
    }

    .article {
        line-height: 18px;
        font-size: 12px;
        width: 308.47px;
        height: 90px;
    }

    h2 {
        font-size: 12px;
        width: 69.9px;
        height: 18.17px;
    }

    p {
        font-size: 10px;
        width: 86px;
        height: 18px;
    }

    .bigimg {
        width: 170.55px;
        height: 160.29px;
        top: 371px;
        right: 21px;
    }

    .miniimg {
        width: 200px;
        height: 27px;
        top: 519px;
        right: 6px;
        margin-bottom: 50px;
    }

    .textbox1,
    .textbox2 {
        margin-right: 24px;
        margin-bottom: 34px;
    }

    .textbox {
        margin-right: 0;
        margin-bottom: 55.73px;
    }
}